p::selection {
  background: rgb(177, 7, 7);
  color: rgb(214, 166, 166);
}

p::first-letter {
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}
div {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 40px 40px rgba(0, 0, 0, 0.6);
  animation: fade 2s ease, unfade 2s ease;
}

/* example -- happing at the same time */
/* opactiy */
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* background */
@keyframes unfade {
  from {
    background-color: aquamarine;
  }
  to {
    background-color: blanchedalmond;
  }
}
